@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  html {
    --color-fill: 33, 22, 12;
    --color-text-base: 245, 235, 201;
    --color-accent: 255, 131, 69;
    --color-card: 56, 42, 22;
    --color-card-muted: 138, 51, 2;
    --color-border: 171, 75, 8;

    --font-title: "Poppins", "sans-serif";
    --font-body: "IBM Plex Mono", "monospace";

    --screen-md: 768px;
  }

  body {
    /* @apply  selection:bg-skin-accent selection:bg-opacity-70 selection:text-skin-inverted; */

    display: flex;
    min-height: 100svh;
    flex-direction: column;
    background-color: #21160d;
    position: relative;

    font-family: var(--font-body);
    color: rgba(var(--color-text-base));

    &::after {
      content: "";
      background: url("../assets/patterns/dot-pattern.svg");
      background-size: 50px;
      position: absolute;
      inset: 0;
      z-index: -1;
      opacity: 0.3;
    }
  }

  section,
  footer {
    margin-left: auto;
    margin-right: auto;
    max-width: 48rem;
    padding-left: 1rem /* 16px */;
    padding-right: 1rem /* 16px */;
  }

  .color-accent {
    color: rgba(var(--color-accent), 1);
  }

  svg {
    @apply inline-block group-hover:fill-skin-accent;
  }
  svg.icon-tabler {
    @apply inline-block h-6 w-6 scale-125 fill-transparent 
    stroke-current stroke-2 opacity-90 group-hover:fill-transparent 
    sm:scale-110;
  }

  p {
    margin: 10px 0 20px 0;
  }

  /* ===== scrollbar ===== */
  html {
    overflow-y: scroll;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 0.75rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background-color: rgba(var(--color-fill), 1);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: rgba(var(--color-card), 1);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(var(--color-card-muted), 1);
  }

  code,
  blockquote {
    word-wrap: break-word;
  }

  pre > code {
    white-space: pre;
  }

  h1,
  h2 {
    font-family: var(--font-title);
  }

  .link-button {
    padding: 8px;

    &:hover {
      color: rgba(var(--color-accent), 1);
      background: rgba(var(--color-accent), 0.1);
    }

    &.rotate {
      &:hover {
        transform: rotate(6deg);
      }
    }

    &.row {
      display: inline-flex;
      flex-direction: row;
      gap: 5px;
      border: 1px solid transparent;

      &:hover {
        border: 1px dashed rgba(var(--color-accent), 1);
        transform: translateY(-3px);
      }
    }

    &.accent {
      color: rgba(var(--color-accent), 1);
      svg path {
        color: rgba(var(--color-accent), 1);
      }
    }
  }
}

@layer components {
  .display-none {
    display: none;
  }
  .focus-outline {
    @apply outline-2 outline-offset-1 outline-skin-fill focus-visible:no-underline focus-visible:outline-dashed;
  }
}

.prose {
  * {
    color: rgba(var(--color-text-base), 1);
  }

  blockquote {
    color: rgba(var(--color-text-base), 1);
    background: rgba(var(--color-accent), 0.1);
    padding: 5px 20px;
    border-left-color: rgba(var(--color-accent), 1);
  }

  h1 {
    font-weight: 600;
    color: rgba(var(--color-accent), 1);
    letter-spacing: 0;
  }

  h2 {
    color: rgba(var(--color-text-base), 1);
    text-transform: uppercase;
    /* letter-spacing: 2px; */
    font-weight: 600;
  }

  h3 {
    color: rgba(var(--color-accent), 1);
    margin-bottom: 10px;
  }
  em {
    margin-bottom: 30px;
  }

  hr {
    border-color: rgba(var(--color-accent), 1);
  }
}
