---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Card from "@components/Card.astro";

import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Hero from "@components/Hero.astro";

import getSortedPosts from "@utils/getSortedPosts";
import { SOCIALS } from "@config";
import { Image } from "astro:assets";
import hero from "../assets/images/pragma.jpg";
import { IconArrowRight, IconRobot } from "@tabler/icons-react";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header activeNav="home" />
  <main id="main-content">
    <Hero />

    <section id="featured">
      <ul>
        {
          featuredPosts.map(({ data, slug }) => (
            <Card slug={slug} frontmatter={data} secHeading={false} />
          ))
        }
      </ul>
    </section>

    <div class="view-older">
      <a class="link-button accent full row" href="/posts/">
        View older work <IconArrowRight />
      </a>
    </div>

    <Image src={hero} alt="Pragma" class="image-main" />
    <em class="image-description color-accent">PRAGMA says hi!</em>
  </main>

  <Footer />
</Layout>

<style>
  #featured {
    margin-bottom: 20px;
  }

  .view-older {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 120px;
  }

  .image-main {
    margin: 0 auto;
    width: 45rem;
    max-width: 95%;
    border: 1px solid rgba(var(--color-accent), 1);
    padding: 4px;
  }
  @media (max-width: 1100px) {
    .image-main {
    }
  }

  .image-description {
    margin: 10px auto 120px;
    display: block;
    text-align: center;
  }
</style>
