---
import { IconDownload } from "@tabler/icons-react"
---

<div class="center">
  <a
    href="/valentin-resume.pdf"
    class="link-button row accent download-resume"
    download
  >
    <IconDownload />
    Download resume
  </a>
</div>

<style>
  .center {
    margin: 40px auto 0;
    display: flex;
    justify-content: center;
  }
  .download-resume {
    padding: 20px;
    text-align: center;
    margin: 0 auto;
  }
</style>
